<div class="container">

    <div class="driver-secondary col-sm-3">
        <div class="driver-picture">
            <div class="pull-left">
              <div class="avatar">
                    <img ng-show="driver" src="img/drivers/{{driver.Driver.driverId}}.png" />
                </div>
            </div>
            <div class="pull-left">
                <div class="tilte ng-binding">
                    <img ng-show="driver" src="img/flags/{{driver.Driver.nationality}}.png" />
                    <br />
                    {{driver.Driver.givenName}}
                    <br />
                    {{driver.Driver.familyName}}
                </div>
            </div>

        </div>
        <div class="pull-left ng-binding">
            <strong>Country: </strong>{{driver.Driver.nationality}}
            <br />
            <strong>Team: </strong><a href="#/teams/{{driver.Constructors[0].constructorId}}" class="ng-binding">{{driver.Constructors[0].name}}</a>
            <br />
            <strong>Birth: </strong>{{driver.Driver.dateOfBirth}}<br />
            <strong><a href="{{driver.Driver.url}}" target="_blank">Biography:
                <!--<img src="img/external_link.png" />-->
                <span class="glyphicon glyphicon-link"></span>
            </a></strong>
        </div>
        <br/>
        <div class="pull-left">
            <a href="#/drivers" ><- Back to drivers list</a>
        </div>
    </div>

    <div class="container-fluid main-content col-sm-9">
        <table class="table table-striped table-bordered box list-table result-table">
            <thead class="header">
                <tr>
                    <th colspan="5" class="tab-header"><span class="label label-primary">Formula 1 2013 Results</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td><strong>Round</strong></td>
                    <td><strong>Grand Prix</strong></td>
                    <td><strong>Team</strong></td>
                    <td><strong>Grid</strong></td>
                    <td><strong>Race</strong></td>
                </tr>
                <tr ng-repeat="race in races">
                    <td>{{race.round}}</td>
                    <td>
                        <img src="img/flags/{{race.Circuit.Location.country}}.png" />
                        <a href="#/races/{{race.round}}"><strong>{{race.raceName}}</strong>
                        </a>
                    </td>
                    <td><strong>{{race.Results[0].Constructor.name}}</strong></td>
                    <td><strong>{{race.Results[0].grid}}</strong></td>
                    <td><strong>{{race.Results[0].position}}</strong></td>
                </tr>
            </tbody>
            <tfoot class="footer">
                <tr>
                    <td colspan="5"></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>


