<div class="container">

<div class="row chattitle">
    <h1 class="chatroom">Formula1 Forum</h1>
</div>

<div class="row">
<div class="col-sm-4">
    <ul id="" class="list-group">
        <li class="list-group-item active">Users<span class="badge">{{numofOnlineUser}}</span></li>
        <li class="list-group-item" ng-repeat="user in users">{{user.username}}<i class="fa fa-desktop"></i>
        <a class="btn btn warning pull-right" href="" ng-click="sendPrivateMsg()">whisper</a></li>
    </ul>
</div>
   
<div class="col-sm-8">
    
    <div scroll-glue class="chatWrap">
        <!--<div class="chatWrap-content">-->
   
            <ul class="messages">
                <li class="msg" ng-repeat="msg in msgs track by $index">{{msg}}</li>
            </ul>
        <!--</div>-->
    </div>
    <form ng-submit="sendMsg()" ng-show="loggedInUser">
        <div class="form-group">
            <div class="col-sm-1">
                <label class=" pull-left control-label labelname">{{loggedInUser}}</label>
                <i class="fa fa-volume-up"></i>
            </div>
            <div class="col-sm-6">
            <input type="textarea" class="form-control" ng-model="chat.msg"/>
            </div>
            <div class="col-sm-5"><input class="btn btn-primary" class="form-control" type="submit" value="send"/>
            </div></div>
        </div>
    </form>
    <div>
</div>
</div><!--end row-->
</div>