   
<div class="container">
    <h1 class="chatroom">Formula1 Forum</h1>
    <div class="chatWrap">
        <ul>
            <li class="msg" ng-repeat="msg in msgs track by $index">{{msg}}</li>
        </ul>
    </div>
    <form ng-submit="sendMsg()" ng-show="loggedInUser">
        <div class="form-group">
            <div class="col-sm-1">
                <label class=" pull-left control-label labelname">{{loggedInUser}}</label>
                <i class="fa fa-volume-up"></i>
            </div>
            <div class="col-sm-6">
            <input type="textarea" class="form-control" ng-model="chat.msg"/>
            </div>
            <div class="col-sm-5"><input class="btn btn-primary" class="form-control" type="submit" value="send"/>
            </div></div>
        </div>
    </form>
</div>
