<div class="constainer">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
              <th class="header" colspan="5">
                <div class="pull-left">
                  <h4>
                  <i class="fa fa-refresh fa-spin"></i>
                  Race Calendar</h4>
                </div>
                <div class="ng-pristine ng-valid pull-right">
                    <input type="text" ng-model="searchFilter" placeholder="Search..." class="form-control input-sm " />
                    <span class="glyphicon glyphicon-search"></span>
                </div>
              </th>  
            </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td>Round</td>
                <td>Grand Prix</td>
                <td>Circuit</td>
                <td>Date</td>
                <td>Winner</td>
            </tr>
            <tr ng-repeat="race in racesList">
                <td>{{race.round}}</td>
                <td><img src="img/flags/{{race.Circuit.Location.country}}.png"/>
                <a href="#/races/{{race.round}}">
                <strong>{{race.raceName}}</strong></td></a>
                
                <!-- <td><a href data-toggle="modal" data-target="#myModal"><strong>{{race.Circuit.circuitName}}</strong></a></td> -->

                <!-- <td><a class="btn btn-default" href ng-click="showModal()"><strong>{{race.Circuit.circuitName}}</strong></a></td> -->

                <td><a href><strong>{{race.Circuit.circuitName}}</strong></a></td>

                <td>{{race.date}}</td>
                <td >
                <a href="#/drivers/{{race.Results[0].Driver.familyName}}">
                <img src="img/teams/small/{{race.Results[0].Constructor.constructorId}}.png" /><strong>{{race.Results[0].Driver.familyName}}</strong></a></td>
            </tr>    
        </tbody>
        <tfoot class="footer">
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<script type="text/ng-template" id="modal.html">
    <div class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Yes or No?</h4>
      </div>
      <div class="modal-body">
        <p>It's your call...</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>
    </div>
    </div>
    </div>
</script>
