.chatWrap {
    height: 300px;
    /*background-color: #e8e8e8;*/
    background-color: lightgreen;
}

.chatWrap ul {
    list-style-type: none;
}

.msg{
	padding-left: 10px;
}

.chatroom{
	font-family: 'Lobster', cursive;
	color: lightblue;
}